[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/orakl"]
	path = lib/orakl
	url = https://github.com/Bisonai/orakl
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/kaia-contracts"]
	path = lib/kaia-contracts
	url = https://github.com/kaiachain/kaia-contracts
[submodule "lib/create3-factory"]
	path = lib/create3-factory
	url = https://github.com/zeframlou/create3-factory
